@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* ============
      STYLES
   ============ */

body {
  max-width: 32rem;
  font-family: 'Open Sans', sans-serif;
  padding: 2rem;
  margin: auto;
  background-color: #C5E6A6;
}

h1 {
  font-size: 2.5rem;
  margin: auto;
  text-align: center;
  color: #313628;
}

p {
  text-align: center;
}

#pay-earned,
#time-worked {
  background-color: #5C8001;
  padding: 1.5rem;
  font-size: 4rem;
  margin: 2rem auto;
  border-radius: 1rem;
  color: #C5E6A6;
}

#time-worked {
  font-size: 2rem;
}

label {
  margin-block: 0.5rem;
  color: #313628;
  display: block;
}

select,
input {
  border: #5C8001 2px solid;
  background-color: transparent;
  border-radius: 0.5rem;
  color: #313628;
  padding: 0.5rem;
}

#pay-rate {
  width: 25%;
}

#per-hour {
  color: #313628;
  display: inline;
}

#btn-group {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: lightgray;
  border: none;
  border-radius: 5rem;
  padding-block: 1rem;
  width: 45%;
  transition: opacity 0.15s;
  color: #313628;
  cursor: pointer;
}

#start-btn {
  background-color: #5C8001;
  color: #C5E6A6;
}

#stop-btn {
  background-color: #C5E6A6;
  border: #5C8001 solid 1px;
}

button:hover {
  opacity: 0.8;
}